body {
  font-size: 1em;
  font-weight: normal;
/*     font-family: Arial, sans-serif;  */
  color:black;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  width: 85%;
  margin: auto;
}

/* Banner Font */
h1 {
  font-size: 2.8em;
  color:black;
  font-weight: normal;
  text-align: center;
}

/* Top Banner */
#banner {
  margin-top: 2%;
  background-color:lightskyblue;
  border: solid;
  border-radius: 10px; 
}

/* Navigation Bar*/
nav ul {
  background-color: #333333;
  padding: 0px;
  float: left;
  width: 100%
}
nav ul li {
  display: inline-flex;
}
nav ul li a {
  color: white; /* color of the text*/
  text-align: center;
  padding: 14px 16px; /* space between text and the textboxes */
  text-decoration: none;
}
li a:hover:not(.active) { /* hovering over unactive */
  background-color: #111111;
}
li a:hover { /* hovering over active */
  background-color: #04ba78;
}
.active { /* passive color for unactive */
  background-color: #04AA6D;
}